body {
max width:100vw;
}

header {
    background-color: rgb(57, 155, 122);
    color: #ffff;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

main {
    background-color: hsla(332, 37%, 40%, 0)
    color: #ffff
    margin: 0 auto;
    padding: 10px;

display: flex;
flex-wrap: wrap;
}

anticle {
    display: flex;

border: 1px solid 1[rgb(13, 190, 84)]

margin:10px;
gap: 10px;
padding:10px;

flex: 1 1 35%

flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
}

img {
    width: 40px;
    height: 40px;
}

atigo-autor {
    font-weight: bold;
}